.GalleryItem{
    width: 350px;
    background: #181818;
    box-shadow: 0px 48px 136px rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    padding-top: 21px;
    @media (max-width: 1160px) and (min-width: 1050px){
        width: 320px;
    }
    @media (max-width: 1050px) and (min-width: 319px){
        margin-bottom: 30px;
    }
    @media (max-width: 420px) and (min-width: 375px){
        width: 344px;
    }
    @media (max-width: 375px) and (min-width: 319px){
        width: 300px;
    }
    .itemHeader{
        margin-left: 21px;
        margin-right: 13px;
        .itemTitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                
                h4{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
            .amount{
                background: #fff;
                border-radius: 109px;
                p{
                    padding: 6px 12px 5px 12px;
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 16.0284px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
        .headerOption{
            margin-top: 11px;
            .type{
                text-align: left;
                display: flex;
                align-items: center;
                p{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    margin-left: 9px;
                    color: #D8B2FF;
                }
            }
            .status{
                margin-top: 9px;
                text-align: left;
                display: flex;
                align-items: center;
                height: 16px;
                p{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    margin-left: 9px;
                    color: #F24B41;
                }
            }
        }
    }
    .itemImg{
        margin-top: 18px;
    }
    .itemBody{
        display: flex;
        max-width: 298px;
        width: 100%;
        margin: auto;
        margin-top: 16px;
        justify-content: space-between;
        align-items: center;
        .totalSupply{
            .supplyAmount{
                text-align: left;
                p{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 27px;
                    color: #5DAD6A;
                }
            }
        }
        .itemFee{
            .feePercent{
                text-align: left;
                p{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 27px;
                    color: #D7B1FD;
                }
            }
        }
        .itemHighest{
            .highestAmount{
                p{
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 27px;
                    color: #F24B41;
                }
            }
        }
        .itemText{
            p{
                font-family: Gilroy;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #6D6D6D;
            }
        }
    }
    .itemBtn{
        margin-top: 33px;
        text-align: center;
        padding-bottom: 26px;
        button{
            background: #392A47;
            border-radius: 43px;
            padding: 11px 35px;
            border: none;
            outline: none;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #D8B2FF;
        }
    }
}