@import "../../../../assets/styles/vars";
@import "../../../../assets/styles/mixins";

.content {
  margin-top: 90px;
  @include flex_row_center;
  grid-gap: 30px;

  &_left {
    overflow: hidden;
    width: 475px;
    height: 852px;
    left: 230px;
    top: 220px;
    background: #1A1820;
    border-radius: 32px;

    &__items {
      .title {
        width: 475px;
        height: 44px;
        background: #22202A;
        @include flex_row_center;
        span {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
          margin-left: 11px;
        }
      }

      .body {
        padding: 19px;

        &_title {
          height: 91px;
          @include flex_column_start;

          span {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
          }

          small {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #928A9A;
          }
        }

        &_cards {
          padding-right: 15px;
          overflow-y: auto;
          display: grid;
          grid-template-columns:1fr 1fr;
          flex-wrap: wrap;
          grid-gap: 16px;
          height: 817px;
          cursor: pointer;
        }

        &_cards::-webkit-scrollbar {
          width: 8px;
          height: 2px;
          border-radius: 14px;
        }

        &_cards::-webkit-scrollbar-thumb {
          background: #302C3F;
          border-radius: 14px;

        }

        &_cards::-webkit-scrollbar-track {
          cursor: pointer;
          background: #22202A;
          border-radius: 14px;
        }
      }
    }
  }

  &_right {
    @include flex_column_center;
    justify-content: flex-start;
    width: 475px;
    height: 852px;
    border-radius: 32px;
    grid-gap: 15px;

    &__token {
      @include flex_row_center;
      grid-gap: 10px;
      width: 475px;
      height: 180px;
      background: #1A1820;
      border-radius: 32px;

    }

    &__price {
      width: 475px;
      height: 238px;
      background: #1A1820;
      border-radius: 32px;
      padding: 15px 27px 27px 27px;

      .checkbox {
        @include flex_row_space_between;
        padding: 4px;
        width: 424px;
        height: 38px;
        background: #252C50;
        border-radius: 54px;
        text-align: center;


      }

      .info {
        margin-top: 17px;
        @include flex_row_center;
        align-items: flex-start;
        grid-gap: 21px;

        p {
          width: 194px;
          color: #A7A0B0;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
        }

        span {
          color: #FFFFFF;
        }
      }


    }

    &__input {
      @include flex_column_start;
      justify-content: space-between;
      width: 475px;
      height: 173px;
      background: #1A1820;
      border-radius: 32px;
      padding: 27px;

      .title {
        @include flex_row_space_between;
        width: 100%;

        span {

          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;
        }

        input {
          width: 100px;
          background: #1A1820;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #5469D4;
        }
      }
    }

    &__description {
      width: 475px;
      height: 224px;
      background: #1A1820;
      border-radius: 32px;
      padding: 27px;
      @include flex_column_start;
      grid-gap: 13px;

      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

        color: #FFFFFF;
      }

      .input {
        width: 406px;
        height: 137px;
        background: #22202A;
        border: 1px solid #302D3D;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;

        textarea {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #5D5B67;
          padding: 16px;
          width: 406px;
          background: #22202A;
        }
      }
    }

  }
}
@media (max-width: 990px) {
  .content {
    margin-top: 37px;
    @include flex_column_center;

    &_left {
      max-width: 345px;
      height: 347px;
      @media (max-width: 345px) {
        max-width: 310px;
      }

      &__items {

        .title {
          width: 100%;

          span {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            margin-left: 11px;
          }
        }

        .body {
          padding: 19px;
          padding-right: 0;

          &_title {
            height: 54px;
            @include flex_column_start;
            justify-content: flex-start;
          }

          &_cards {
            z-index: 10;
            display: flex;
            padding-right: 15px;
            overflow-x: auto;
            width: 100%;
            flex-wrap: nowrap;
            grid-gap: 16px;
            cursor: pointer;
          }
        }
      }
    }

    &_right {
      width: 345px;
      height: auto;

      &__token {
        display: none;
      }

      &__input {
        width: 345px;
        height: 163px;
        @media (max-width: 345px) {
          width: 310px;
        }

        input[type='text'] {
          display: none;
        }
      }


      &__price {
        padding: 15px;
        width: 345px;
        height: 255px;
        @media (max-width: 345px) {
          width: 310px;

        }

        .checkbox {
          margin-top: 10px;
          width: 311.51px;
          height: 34px;
          @media (max-width: 345px) {
            width: 275.51px;
          }

          .active {
            span {
              font-size: 11px;
            }
          }

          span {
            width: 100%;
            font-size: 11px;

          }
        }

        .info {
          p {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
          }

        }

        .attention {
          width: 100%;
          margin-top: 40px;

          img {
            margin-left: 16px;
          }
        }
      }

      &__description {
        width: 345px;
        height: 303px;
        @media (max-width: 345px) {
          width: 310px;

        }

        .input {
          width: 289px;
          height: 188px;
          @media (max-width: 345px) {
            width: 255px;
          }
        }
      }
    }
  }
}