@import "../../../../assets/styles/vars";
@import "../../../../assets/styles/mixins";

.content {
  margin-top: 90px;

  @include flex_row_start;
  grid-gap: 30px;

  &_left {
    overflow: hidden;
    width: 285px;
    height: 365px;
    background: #383348;
    border-radius: 32px;
    position: relative;
    @include flex_column_justify_flex-end;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 285px;
      height: 365px;
    }

    &__button {
      z-index: 1;
      width: 246px;

      margin: 20px;
      background: rgba(11, 11, 11, 0.76);
      border-radius: 58.88px;

      & span {
        @include flex_row_center;
        height: 36.9px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
      }
    }
  }

  &_right {
    @include flex_column_start;
    justify-content: flex-start;
    padding:  19px 25px 26px 25px;
    width: 635px;
    height: 459px;
    background: #1A1820;
    border-radius: 32px;
    grid-gap: 15px;

    .description {
      margin-left: 10px;
      width: 555px;
      height: 72px;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;

      color: #A7A0B0;
    }

    .title {
      margin-left: 10px;
      &_star {
        @include flex_row_center;
        justify-content: flex-start;
        margin-bottom: 12px;

        span {
          margin-left: 10px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: center;

          color: #D8B2FF;
        }

      }

      &_body {
        @include flex_row_center;
        grid-gap: 16px;

        &__image {
          box-sizing: border-box;
          border-radius: 4px;
          width: 44px;
          height: 24px;
          border: 0.5px solid #C19CE3;
          @include flex_column_center;
        }


        &__sea {
          @include flex_column_start;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #FFFFFF;

          .created {
            margin-top: 3px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;

            span {
              color: rgba(255, 255, 255, 0.24);
            }

            p {
              display: inline;
              color: #FFFFFF;
            }
          }
        }
      }
    }

    .cards {
      width: 100%;
      display: grid;
      grid-gap: 11px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}

@media (max-width: 990px) {
  .content {
    margin-top: 37px;
    @include flex_column_center;
    &_left {
      overflow: hidden;
      width: 345px;
      height: 406.21px;
      img {
        width: 345px;
        height: 406.21px;
      }
      & .card_preview{
        width: 345px;
        height: 406.21px;

      }


      &__button {
        z-index: 1;
        width: 246px;

        margin: 20px;
        background: rgba(11, 11, 11, 0.76);
        border-radius: 58.88px;

        & span {
          @include flex_row_center;
          height: 36.9px;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
    &_right {
      @include flex_column_start;
      padding: 20px 20px ;
      width: 345px;
      height: auto;
      .description {
        width: 309px;
        height: 160px;
        margin-left: 0;
      }

      .title {
        margin-left: 0;
        &_body {
          @include flex_row_center;
          grid-gap: 16px;
          &__sea {
            white-space: nowrap;
          }
        }
      }

      .cards {
        width: 100%;
        display: grid;
        grid-gap: 11px;
        grid-template-columns: repeat(2, 148px);
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
}
