@import "../../../styles/_vars.scss";
@import "../../../styles/_mixins.scss";


.card {
  width: 333.21px;
  height: auto;
  background: #1F1F1F;
  box-shadow: 0 45.6974px 129.476px rgba(0, 0, 0, 0.2);
  border-radius: 20.9446px;
&_footer{
  margin-top: 14px;
  @include flex_column_center;
}
}