@import "../../../../assets/styles/vars";
@import "../../../../assets/styles/mixins";

.approve {
  @include flex_row_center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 43px;
  margin-bottom: 66px;

  &_header {
    height: 64px;
    @include flex_row_space-around;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 17.1365px;
      line-height: 21px;
      color: #FFFFFF;
    }

    &__button {
      width: 73.31px;
      height: 29.51px;
      background: #FFFFFF;
      border-radius: 103.771px;
      @include flex_row_center;

      span {
        font-style: normal;
        font-weight: 900;
        font-size: 15.2595px;
        line-height: 19px;
        text-align: center;
        color: #181818;
      }
    }
  }

}

@media (max-width: 990px) {
  .approve {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 767px) {
  .approve {
    grid-template-columns: 1fr;
  }
}