@import "../../../../styles/vars";
@import "../../../../styles/mixins";

.ntf {
  @include flex_row_center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 43px;
  margin-bottom: 66px;

  &_header {
    height: 54px;
    @include flex_row_space-around;
    justify-content: flex-start;
    padding-left: 19px;

    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 17.1365px;
      line-height: 21px;
      color: #FFFFFF;
    }

  }

  &_content {
    overflow: hidden;
    width: 333px;
    height: 210px;
  }

}

@media (max-width: 990px) {
  .ntf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media (max-width: 767px) {
  .ntf {
    grid-template-columns: 1fr;
  }
}