$default-font: 'Gilroy', sans-serif;

$white: #FFFFFF;
$black180: rgba(0, 0, 0, 1);
$black120: #212121;
$black160:rgba(0, 0, 0, 0.2);
$black140: #141414;
$black100: #383640;
$black80: #565656;
$black60: rgba(56, 56, 56, 0.4);
$black40: rgba(0, 0, 0, 0.88);
$black20: #181818;
$black0: rgba(0, 0, 0, 0.68);

$lilac: #c19ce3;
$lilac60:  #D8B2FF;
$lilac40:  #C19CE3;
$lilac80:  #A075CC;
$lilac20: rgba(216, 178, 255, 0.31);

$purple0: #a54aff;
$purple20: #6417AB;

$grey0: #565656;
$grey20: #BABABA;
$grey40: #373737;
$grey60: #CACACA;
$grey80: rgba(255, 255, 255, 0.51);
$grey100: rgba(56, 56, 56, 0.4);
$grey120: #5F5F5F;

$pink0: #D8B2FF
