@import "../../../styles/vars";
@import "../../../styles/mixins";

@mixin wallet {
  &:active{
    box-shadow: none;
    background: rgba(0, 0, 0, 0.68);
  }
  position: relative;
  @include flex_row_center;
  background: #212121;
  box-shadow: 0 0 30.439px rgba(0, 0, 0, 0.68);
  border-radius: 37.4634px;
  width: 309px;
  white-space: nowrap;
  padding: 12px;
  cursor: pointer;

  .avatar{
    position: relative;
    padding: 0 15px 0 15px;
    border-right: 1px solid #303030;
    margin-left: 10px;

    & img {
      position: absolute;
      top: 1px;
      left: -12px;
    }
  }

  .connect {
    position: relative;
    padding: 0 51px 0 12px;

    & > img {
      position: absolute;
      top: -1px;
      right: -2px;
      z-index: 10;

    }

    & div {
      position: absolute;
      top: -8px;
      right: -10px;
      height: 41px;
      width: 41px;
      transform-origin: 50% 50%;
      animation: rot 20s linear 0s infinite;
    }
  }

  & span {
    @include flex_row_space_between;
    text-decoration: none;
    color: #BABABA;

  }
}

.wallet.header {
  @include wallet;

}

.wallet.modal {
  @include wallet;
}

.wallet.footer {
  @include wallet;
  width: 196px;
  height: 51px;

  .avatar{
    display: none;
  }

  .connect{

    & > img {
      top: -1px;
      right: 3px;
    }

    & div {
      top: -9px;
      right: -5px;
    }
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
}

@media (max-width: 990px) {
  .wallet.header,
  .wallet.footer {
    margin-top: 12px;
    width: 154px;
    height: 38px;

    .avatar{
      display: none;
    }

    .connect{
      padding: 0 49px 0 14px;

      & > img {
        width: 18.39px;
        height: 17.68px;
        top: -1px;
        right: 16px;
      }

      & div {
        & > img {
          height: 29px;
          width: 29px;
        }

        top: -7px;
        right: 11px;
        height: 29px;
        width: 29px;
      }
    }

    & span {
      @include font_size_small_l;
    }
  }
  .wallet.footer {
    margin-top: 0;
  }
}


