@import "../../../styles/vars";
@import "../../../styles/mixins";

.admin{
    width: 1110px;
    height: auto;
    background: #181818;
    border-radius: 32px;
    @include flex_column_center;
    justify-content: flex-start;
    margin-bottom: 77px;
    margin-top:35px;
    &_cards{
        @include flex_column_center;
    }
}
