@import "../../../styles/vars";
@import "../../../styles/mixins";


.footer {
  width: 100%;
  background: #181818;
  max-height: 407px;
  @include flex_column_center;

  &_logo {
    order: 2;
    @include flex_column_center;
    position: relative;

    & img {
      width: 242px;
      height: 84px;
    }

    &__text {
      font-style: normal;
      font-weight: normal;
      font-size: 21.6675px;
      line-height: 25px;
      text-align: center;
      color: $white;

      & span {
        color: $lilac;
      }
    }
  }

  &_wallet {
    margin-top: 122px;
    order: 3;

    &__text {
      margin-top: 102px;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-decoration-line: underline;
      color:#565656;
      white-space: nowrap;
    }
  }

  &_navbar {
    order: 1;
  }

}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.copyright {
  background: $black140;
  width: 100%;
  margin: 0 auto;
  @include flex_column_center;
  height: 40px;
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #373737;
    margin: 12px 12px;
  }

}

@media (max-width: 768px) {
  .footer{
    max-height: 400px;
    &_logo {
      order: 1;
      margin-top: 22px ;
      margin-bottom: 7px;
    }

    &_wallet {
      margin-top: 0;
      position: relative;
      order: 2;
      margin-bottom: 32px;
      &__text {
        margin-top: 0;
        position: absolute;
        top: 165px;
        left: 11px;
      }
    }

    &_navbar {
      order: 3;
      margin-bottom: 61px;
    }
  }
  .content {
    @include flex_column_center;
  }
  .copyright {
    height: 30px;
    span {
      font-size: 12px;
      line-height: 14px;
    }

  }
}


