@import "../../../assets/styles/_vars.scss";
@import "../../../assets/styles/_mixins.scss";

.root {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  @include flex_column_center;
  justify-content: flex-start;
  z-index: 100;
  overflow: auto;
}


.header_modal__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header_wallet__container {

  position: absolute;
  top: 100px;
  right: 100px;
  @media (max-width: 990px) {

    position: static;
    top: 20%;
    right: 0;
  }
}

.user_modal__container {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

@mixin header {
  height: auto;
  background: linear-gradient(180deg, #141414 -1.29%, rgba(20, 20, 20, 0.23) 16.98%),
  linear-gradient(360deg, #141414 16.63%, rgba(20, 20, 20, 0.23) 88.21%),
  linear-gradient(270deg, #141414 0%, rgba(20, 20, 20, 0) 17.47%),
  linear-gradient(90deg, #141414 1.66%, rgba(20, 20, 20, 0) 16.18%),
  url("../../../assets/images/header/modal.png");
}

.header_modal {
  @include header;
}

.header_wallet {
  border-radius: 22px;
  width: auto;
  @media (max-width: 990px) {
    margin-top: 159px;
  }
  @include header;

  & > img {
    display: none;
  }
}


.close {
  position: absolute;
  top: 36px;
  right: 11px;
}

.user_modal {
 .close {
    display: none
  }
}