@import "../../../styles/_vars.scss";
@import "../../../styles/_mixins.scss";

.root {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  @include flex_column_center;
  z-index: 100;
  overflow: auto;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header_modal {
  height: auto;
  background: linear-gradient(180deg, #141414 -1.29%, rgba(20, 20, 20, 0.23) 16.98%),
  linear-gradient(360deg, #141414 16.63%, rgba(20, 20, 20, 0.23) 88.21%),
  linear-gradient(270deg, #141414 0%, rgba(20, 20, 20, 0) 17.47%),
  linear-gradient(90deg, #141414 1.66%, rgba(20, 20, 20, 0) 16.18%),
  url("../../../assets/image/header/modal.png");
}

.close {
  position: absolute;
  top: 36px;
  right: 11px;
}