@import "../../../styles/_vars.scss";
@import "../../../styles/_mixins.scss";

.not_found {
  display: flex;
  height: 100%;
  width: 100%;
  @include flex_column_center;

  &__text {
    @include font_size_large;
    color: $white;


    span {
      color: $lilac;
    }
  }
}