@import "../../../styles/vars";
@import "../../../styles/mixins";

.admin{
    width: 1110px;
    height: auto;
    background: #181818;
    border-radius: 32px;
    @include flex_column_center;
    justify-content: flex-start;
    margin-bottom: 77px;
    padding:35px;
    margin-top:35px;

}
@media (max-width:1150px){
    .admin{
        width: 100%;
        padding:35px;
    }
}