@import "vars";
@import "grid";
@import "mixins";

body {
  font-family: $default-font;
  background: #121313;
}


.main {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  @include flex_column_center;
  width: 100%;
  min-height: 100vh;

  &_bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @include flex_column_center;
    @media (max-width:990px){
      img{
        width: 100%;
      }
    }
  }
}

.main::after {
  content: "";
  position: absolute;;
  background: url("../images/main/bg_main_2.png") no-repeat top center;
  top: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  @media (max-width: 850px) and (min-width: 319px) {
    background-size: contain;
  }
}

.content {
  position: relative;
  flex: 1 1 auto;
  @include flex_column_center;
  justify-content: flex-start;

}

.faq_bg {
  position: absolute;
  background: url("../images/faq/bg.png") no-repeat top center;
  left: -138px;
  top: 3px;
  transform: rotate(18deg);
  z-index: -1;
  width: 100vw;
  height: 90vh;
  @media (max-width: 550px) {
    transform: rotate(271deg);
    left: -185px;
    top: 177px;
  }
}